<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>

<title>Result</title>
<link rel="stylesheet"
    href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
<link rel="stylesheet" type="text/css"
    th:href="@{/css/display.css}" />
</head>
<body>
    <h2>Result</h2>
    <table>
        <tbody>
              <tr>
                <td><strong>Name:</strong></td>
                <td><span th:text="${employee.name}"></span></td>
            </tr>
             <tr>
                <td><strong>city:</strong></td>
                <td><span th:text="${employee.city}"></span></td>
            </tr>
            
            <tr>
                <td><strong>Age:</strong></td>
                <td><span th:text="${employee.age}"></span></td>
            </tr>
                        <tr>
                <td><strong>Email:</strong></td>
                <td><span th:text="${employee.email}"></span></td>
            </tr>
                        <tr>
                <td><strong>Paasword:</strong></td>
                <td><span th:text="${employee.password}"></span></td>
            </tr>
            
            <tr>
                <td><strong>Gender:</strong></td>
                <td><span th:text="${employee.gender}"></span></td>
            </tr>
            <tr>
                <td><strong>Department:</strong></td>
                <td><span th:text="${employee.dept}"></span></td>
            </tr>
            <tr>
                <td><strong>Joining Date:</strong></td>
                <td><span th:text="${employee.joiningDate}"></span></td>
            </tr>
            <tr>
                <td><strong>Retiring Date:</strong></td>
                <td><span th:text="${employee.retiringDate}"></span></td>
            </tr>
            <tr>
                <td colspan="2">&nbsp;<a th:href="@{registration_form}"
                    class="btn btn-success"> <i class="fa fa-arrow-circle-o-left"></i>&nbsp;Add
                        new employee
                </a></td>
            </tr>
        </tbody>
    </table>
</body>
</html>
